/* Variables */
body {
  background-color: #F3F3F3;
  margin: 0px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 96px;
  background: white;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}
header h1 {
  font-family: Shrikhand;
  font-weight: 400;
  font-size: 30px;
  line-height: 43.74px;
  margin: auto;
}

.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 50px;
  background: #EAEAEA;
}
.location i,
.location p {
  color: black;
}
.location p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin-left: 17px;
}

.exploration {
  font-family: "Roboto";
  font-style: normal;
  text-align: center;
  padding: 30px 0px 60px 0px;
  width: 100%;
}
.exploration h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  width: 275px;
  margin: auto;
}
.exploration p {
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
}
.exploration button {
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  border: 0px;
  width: 218px;
  height: 50px;
}
.exploration button span {
  color: white;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin: 13px;
}

.fonctionnement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 25px;
  background: #FFFFFF;
  padding: 48px 0px 40px 20px;
}
.fonctionnement h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 0px;
}
.fonctionnement .circle {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 15px;
  top: 545px;
  text-align: center;
  border-width: 1px;
  border-radius: 20px;
  background-color: #9356DC;
  color: white;
}
.fonctionnement .circle--deux {
  top: 645px;
}
.fonctionnement .circle--trois {
  top: 745px;
}
.fonctionnement .boutons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24.92px;
}
.fonctionnement .boutons button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0px;
  width: 322.49px;
  height: 72.38px;
  background: #F7F7F7;
  -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
}
.fonctionnement .boutons button i {
  font-size: 1.5em;
  color: #7E7E7E;
  width: 20px;
}
.fonctionnement .boutons button .fa-store {
  color: #9356DC;
}
.fonctionnement .boutons button span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}